body {
    background-size: cover;
    margin: 0;
}

.app-wrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: -webkit-fill-available;
}

.side-nav {
    border-right: solid;
    height: inherit;
}

.side-nav div:hover {
    background-color: rgb(128, 128, 128)
}

article.content {
    padding: 0px 15px;
}
